* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --header-bgc: #ea580c;
  --sidebar-bgc: #d4d4d8;
  --main-bgc: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --sidebar-hover-bgc: #a1a1aa;
  --main-ff: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#content {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 5% 95%;
}

/* HEADER */

.header {
  grid-column: 1 / span 2;
  min-height: 4rem;
  background-color: var(--header-bgc);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  z-index: 3;
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
}

.header-title {
  font-size: 45px;
  font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #1f1f1f;
}

#header-collapse-btn {
  border: none;
  padding: 10px 10px;
  font-size: 10px;
  border-radius: 4px;
  cursor: pointer;
  background: none;
  outline: none;
}

.header-logo,
.change-theme-span {
  font-family: "Material Icons";
  font-size: 30px;
  /* to align icons with text */
  vertical-align: bottom;
}

.theme-and-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.project-title {
  font-size: 33px;
  font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #1f1f1f;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
}

button.open-todo-poppup {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 40px;
  padding: 15px;
  transition: transform 0.6s ease-in-out;
}

button.open-todo-poppup:hover {
  transform: rotate(180deg);
}

#change-theme {
  border: none;
  padding: 10px 10px;
  font-size: 10px;
  border-radius: 4px;
  cursor: pointer;
  background: none;
  outline: none;
}

.todo-poppup-header {
  min-height: 50px;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: var(--header-bgc);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #1f1f1f;
  font-size: 25px;
  padding: 10px;
}

.todo-poppup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 300px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  background-color: var(--sidebar-bgc);
  font-family: var(--main-ff);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  visibility: hidden;
  transform: scale(0.1);
  transition: transform 0.4s;
}

.open-todo-container {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

form#add-todo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

select {
  appearance: none;
  background-image: #eee;
  border: 1px solid #d6d9dc;
  outline: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
}

.header input[type="date"] {
  background-image: #eee;
  border: 1px solid #d6d9dc;
  outline: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
}

.header input[type="text"] {
  background-image: #eee;
  border: 1px solid #d6d9dc;
  outline: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
}

div.todo-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

button#add-todo-btn,
button#cancel-todo-btn,
button#edit-todo-btn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  width: 95px;
  text-align: center;
}

button#add-todo-btn:hover,
button#cancel-todo-btn:hover,
button#edit-todo-btn:hover {
  filter: opacity(55%);
}

button#add-todo-btn,
button#edit-todo-btn {
  background-color: #22c55e;
}

button#cancel-todo-btn {
  background-color: #ef4444;
}

#description-label,
#priority-label,
#project-label,
#date-label {
  font-size: 13px;
  padding-left: 2px;
  color: #4b5563;
}

/* SIDEBAR */

.sidebar {
  background-color: var(--sidebar-bgc);
  min-width: 300px;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.default-projects {
  display: flex;
  flex-direction: column;
}

.sidebar button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 25px;
  padding: 10px;
  text-align: left;
  width: 100%;
  font-family: var(--main-ff);
  font-weight: 500;
}

.sidebar button:hover {
  background-color: var(--sidebar-hover-bgc);
  border-radius: 8px;
}

div.default-projects button {
  display: flex;
  align-items: center;
}

/* Icons */

div.default-projects button::before,
div.list-of-projects button::before {
  font-family: "Material Icons";
  padding-right: 10px;
  font-size: 25px;
}
div.default-projects button:nth-child(1)::before {
  content: "\e88a";
}

div.default-projects button:nth-child(2)::before {
  content: "\e935";
}

div.default-projects button:nth-child(3)::before {
  content: "\e916";
}

.new-project-button::before {
  /* content: "\f075"; */
  content: "\f0c5";
}

/* Icons END */

.projects .title {
  font-size: 30px;
  font-weight: 600;
  padding-left: 10px;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

div.list-of-projects button:first-child {
  margin-top: 1rem;
}

button.open-project-poppup {
  font-size: 20px;
}

.new-project-button {
  margin-bottom: 0.5rem;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  padding: 10px;
}

.new-project-button__pseudo {
  position: absolute;
  right: 5%;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%);
  transition: visibility 0s, opacity 0.2s;
}

.new-project-button:hover .new-project-button__pseudo {
  visibility: visible;
  opacity: 1;
}

div.project-poppup {
  position: relative;
}

form#add-project {
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

div.project-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button#add-project-btn,
button#cancel-project-btn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  width: 95px;
  text-align: center;
}

button#add-project-btn:hover,
button#cancel-project-btn:hover {
  filter: opacity(55%);
}

button#add-project-btn {
  background-color: #22c55e;
}

button#cancel-project-btn {
  background-color: #ef4444;
}

.sidebar input[type="text"] {
  background-image: #eee;
  border: 1px solid #d6d9dc;
  outline: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 21px;
  width: 100%;
}
/* MAIN */

.main {
  grid-column: 2 / span 1;
  background-image: var(--main-bgc);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 50px;
  gap: 2rem;
  padding: 25px;
}

.todo-container {
  border-bottom: 1px solid lightgray;
  min-height: 70px;
  min-width: 400px;
}

.todo-upper-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  font-family: var(--main-ff);
}

.todo-lower-row {
  font-size: 12px;
  padding-left: 2.4rem;
}

input[type="checkbox"] {
  appearance: none;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid gray;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -2px;
  outline: none;
}

input[type="checkbox"]::before {
  display: block;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background-color: var(--header-bgc);
  font-size: 1.2em;
  transform: translate(3px, 3px) scale(0);
  transform-origin: center;
  transition: all 0.3s ease-in;
}

input[type="checkbox"]:checked::before {
  transform: translate(3px, 3px) scale(1);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}

.todo-due-date {
  margin-left: auto;
  font-size: 17px;
}

.todo-edit,
.todo-delete {
  border: none;
  padding: 10px 10px;
  font-size: 10px;
  border-radius: 4px;
  cursor: pointer;
  background: none;
  outline: none;
}

.todo-edit-span,
.todo-delete-span {
  font-family: "Material Icons";
  font-size: 25px;
  vertical-align: middle;
}

/* GENERAL */

.visibility {
  visibility: hidden;
}

.active {
  color: var(--header-bgc);
}

.low-priority {
  border: 2px solid lightgreen !important;
}

.medium-priority {
  border: 2px solid salmon !important;
}

.high-priority {
  border: 2px solid darkred !important;
}

.completed-todo {
  text-decoration: line-through;
  color: gray;
  transition: text-decoration 0.5s ease-in-out;
}

/* ANIMATIONS */
